<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PurplePen.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PurplePen.Settings>
            <setting name="UILanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLoadedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MapIntensity" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="MapHighQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPopupInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="ViewAllControls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPrintArea" serializeAs="String">
                <value>True</value>
            </setting>
        </PurplePen.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
