<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PurplePen.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <PurplePen.Settings>
      <setting name="UILanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLoadedFile" serializeAs="String">
        <value />
      </setting>
      <setting name="MapIntensity" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="MapHighQuality" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPopupInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="ViewAllControls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPrintArea" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultDescriptionLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="NewEventMapStandard" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="NewEventDescriptionStandard" serializeAs="String">
        <value>2018</value>
      </setting>
      <setting name="LiveloxSettings" serializeAs="String">
        <value />
      </setting>
    </PurplePen.Settings>
  </userSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>