vti_encoding:SR|utf8-nl
vti_author:SR|Dell-Laptop\\Peter
vti_modifiedby:SR|PETERLAPTOP\\Peter
vti_timelastmodified:TR|02 Apr 2012 19:23:08 -0000
vti_timecreated:TR|15 Nov 2007 18:17:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contribute.htm support.htm master.dwt news.htm about.htm default.htm download.htm
vti_nexttolasttimemodified:TW|15 Nov 2007 18:17:58 -0000
vti_syncwith_www.golde.org\:21/purplepen.golde.org:TX|12 Apr 2010 03:08:02 -0000
vti_syncofs_www.golde.org\:21/purplepen.golde.org:TW|08 Jul 2011 11:39:00 -0000
vti_cacheddtm:TX|02 Apr 2012 19:23:08 -0000
vti_filesize:IR|916
