vti_encoding:SR|utf8-nl
vti_author:SR|Dell-Laptop\\Peter
vti_modifiedby:SR|PETERGO-HOME\\Peter
vti_timelastmodified:TR|26 Nov 2008 05:43:04 -0000
vti_timecreated:TR|15 Nov 2007 18:17:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contribute.htm support.htm master.dwt news.htm about.htm default.htm download.htm
vti_nexttolasttimemodified:TW|15 Nov 2007 18:17:58 -0000
vti_syncwith_www.golde.org\:21/purplepen.golde.org:TX|26 Nov 2008 05:43:04 -0000
vti_syncofs_www.golde.org\:21/purplepen.golde.org:TW|09 Sep 2010 13:06:00 -0000
vti_cacheddtm:TX|26 Nov 2008 05:43:04 -0000
vti_filesize:IR|916
