@{
    ViewData["Title"] = "Home Page";
}

<div>
    <canvas id="canvas" width="3200 " height="2400"></canvas>
</div>
<button id="button1">Test</button>
<span id="timingoutput"></span>

@section Scripts {
    <script src="~/js/canvasdraw.js" asp-append-version="true"></script>

}