<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <!-- No parallelism between assemblies -->
    <MaxCpuCount>1</MaxCpuCount>
    <!-- Per-run environment variables -->
    <EnvironmentVariables>
      <!-- If True, this run should not pop up any UI, but just fail instead. -->
      <TEST_SILENTRUN>False</TEST_SILENTRUN>
    </EnvironmentVariables>
  </RunConfiguration>

  <!-- no parallism in MS Test -->
  <MSTest>
    <Parallelize>
      <Workers>1</Workers>
      <Scope>ClassLevel</Scope>
    </Parallelize>
  </MSTest>

  <!-- no parallism in NUnit -->
  <NUnit>
    <NumberOfTestWorkers>0</NumberOfTestWorkers>
  </NUnit>
</RunSettings>
